<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" style="background: transparent">
    <ion-item style="background: transparent" lines="none">
      <ion-title style="color: black">Welcome Mohammed</ion-title>

      <ion-img
        slot="end"
        src="../../assets/icon/avatar.svg"
        style="margin-top: 15px"
      ></ion-img>
    </ion-item>
  </ion-header>

  <div class="bondPoints">
    <h4 style="font-size: 15px; margin-bottom: 0px; font-weight: 600">
      Bond points
    </h4>
    <h1
      style="color: #18a187; font-size: 43px; font-weight: 600; margin-top: 0px"
    >
      24.29
    </h1>
  </div>
  <div class="bondPoints">
    <img src="../../assets/icon/boosting-indicator.svg" />
    <img src="../../assets/icon/arrow.svg" />
    <p>Tap to boost your Bond points</p>
  </div>
  <div class="activityDiv">
    <ion-card class="ion-card-activity">
      <ion-card-header class="ion-card-header-activity">
        <ion-card-title class="ion-card-title-activity"
          >Activity Rate</ion-card-title
        >
        <ion-icon name="alert-circle-outline" class="center-right"></ion-icon>
      </ion-card-header>

      <ion-card-content> 0.75 points/hr </ion-card-content>
    </ion-card>
    <ion-card class="ion-card-activity">
      <ion-card-header class="ion-card-header-activity">
        <ion-card-title class="ion-card-title-activity"
          >Activity Rate</ion-card-title
        >
        <ion-icon name="alert-circle-outline" class="center-right"></ion-icon>
      </ion-card-header>

      <ion-card-content> 0.75 points/hr </ion-card-content>
    </ion-card>
  </div>
  <!-- DASHBOARD SECTION -->
  <ion-card class="ion-card-dashboard">
    <ion-card-header>
      <ion-card-title style="font-weight: 600">Your Dashboard</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Job Applications card -->
      <ion-card style="color: black; border-radius: 12px">
        <ion-card-header style="padding-bottom: 0px">
          <ion-card-title style="font-size: 15px"
            >Active job applications</ion-card-title
          >
        </ion-card-header>
        <ion-card-content
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <ion-text ion-color-dark style="font-weight: 600; font-size: 35px"
            >2</ion-text
          >

          <ion-img src="../../assets/icon/featured-icon.svg" />
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
