.bondPoints {
  text-align: center;
}
ion-card {
  --background: #rgba(255, 255, 255, 0.5);
  // --color: #ffff;
}

ion-card-title {
  // --color: #ffffff;
}
// ion-card-content {
//   --color: #ffffff;
// }
.activityDiv {
  display: flex;
  // width: 90%;
  margin: auto;
  justify-content: center;
}
