<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" style="background: transparent">
    <ion-item style="background: transparent" lines="none">
      <ion-title style="color: black">Welcome Mohammed</ion-title>

      <ion-img
        slot="end"
        src="../../assets/icon/avatar.svg"
        style="margin-top: 15px"
      ></ion-img>
    </ion-item>
  </ion-header>

  <div class="bondPoints">
    <h4>Bond points</h4>
    <h1>24.29</h1>
  </div>
  <div class="bondPoints">
    <img src="../../assets/icon/boosting-indicator.svg" />
    <img src="../../assets/icon/arrow.svg" />
    <p>Tap to boost your Bond points</p>
  </div>
  <div class="activityDiv">
    <ion-card class="ion-card-activity">
      <ion-card-header class="ion-card-header-activity">
        <ion-card-title class="ion-card-title-activity"
          >Activity Rate</ion-card-title
        >
        <ion-icon name="alert-circle-outline" class="center-right"></ion-icon>
      </ion-card-header>

      <ion-card-content> 0.75 points/hr </ion-card-content>
    </ion-card>
    <ion-card class="ion-card-activity">
      <ion-card-header class="ion-card-header-activity">
        <ion-card-title class="ion-card-title-activity"
          >Activity Rate</ion-card-title
        >
        <ion-icon name="alert-circle-outline" class="center-right"></ion-icon>
      </ion-card-header>

      <ion-card-content> 0.75 points/hr </ion-card-content>
    </ion-card>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Activity Rate</ion-card-title>
      <ion-icon name="alert-circle-outline" class="center-right"></ion-icon>
    </ion-card-header>

    <ion-card-content> 0.75 points/hr </ion-card-content>
  </ion-card>
</ion-content>
